
@{
    ViewBag.Title = "Удаление из корзины";
}

<h4>Удалено!</h4>
Вы успешно удалили товар из корзины.
<br />
<br />
<a href="@Url.Action("Index","Cart")" class="btn btn-primary">Вернуться в корзину</a>
<br />
<br />
